/* Set up TailwindCSS */
@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/rent_web";

/*  Plugins */
@plugin "../vendor/heroicons";
@plugin "../vendor/daisyui" {
  themes: false;
}
@plugin "../vendor/daisyui-theme" {
  name: "silk";
  default: true;
  --color-primary: oklch(50% 0.2 250);
  --color-primary-content: oklch(98% 0.02 0);
  --color-secondary: oklch(69.651% 0.059 248.687);
  --color-secondary-content: oklch(13.93% 0.011 248.687);
  --color-accent: oklch(77.464% 0.062 217.469);
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* Change font */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400..700&display=swap');
body {
    font-family: Geist, sans-serif;
}
